.cover__link {
  position: relative;
  width: 100%;
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover__link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 740px;
  background: rgba(42, 44, 47, .3);
  transition: 1s;
}

.cover__link:hover::after {
  content: '';
  background: rgba(42, 44, 47, .8);
}