.header {
  margin: 28px 3.75% 0;
  padding: 0;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin: 28px 3.7% 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin: 28px 3.12% 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin: 16px 5% 0;
  }
}