.places__list {
  padding: 0;
  list-style: none;
  display: grid;
  max-width: 984px;
  margin: 0 auto;
  padding: 0;
  gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places__list {
    max-width: 928px;
    margin: 92px 4.7% 0;
    gap: 73px;
  }
}

@media screen and (max-width: 768px) {
  .places__list {
    max-width: 720px;
    margin: 88px 3.1% 0;
    gap: 73px;
  }
}

@media screen and (max-width: 320px) {
  .places__list {
    margin: 64px 0 0;
    max-width: 320px;
    gap: 50px;
  }
}