.place{
  display: grid;
  grid-template-columns: fit-content(460px) minmax(456px,484px);
  grid-template-rows: max-content fit-content(460px);
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: fit-content(440px) fit-content(456px);
    grid-template-rows: repeat(2, max-content);
    gap: 48px 3.1%;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: fit-content(340px) fit-content(352px);
    grid-template-rows: repeat(2, max-content);
    gap: 48px 3.6%;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content);
    gap: 32px;
  }
} 